:root {
    --main-background: #000;
    --main-text: #fff;
    --generate-btn-border: hotpink;
    --sort-btn-border: #FFFF00;
    --reset-btn-border: #0047AB;
    --skip-btn-border: #0047AB;
    --slider-color: lawngreen;
    --disabled-slider-color: green;
    --algorighmBtn-background: #899499;
    --algorithmBtn-text: #000;
    --algorithmBtn-border: #595959;
    --algorithmBtn-hover: #B2BEB5;
    --selected-background: lawngreen;
    --selected-border: #228B22;
    --disabled-background: red;
    --disabled-border: darkred;
}

* {
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--main-background);
    color: var(--main-text);
    position: relative;
    padding: 20px;
    width: 100%;
    max-width: 1400px;
    height: 15vh;
    top: 0;
}

.btn-container {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    gap: 10px;
    max-width: 300px;
    box-sizing: border-box;
}

#generateArrBtn {
    padding: 10px 15px;
    width: 185px;
    font-size: 1rem;
    background-color: transparent;
    border: 5px solid var(--generate-btn-border);
    color: var(--main-text);
    cursor: pointer;
}

#sortBtn {
    padding: 10px 15px;
    width: 185px;
    font-size: 1rem;
    background-color: transparent;
    border: 5px solid var(--sort-btn-border);
    color: var(--main-text);
    cursor: pointer;
}

#resetBtn {
    padding: 10px 15px;
    width: 82px;
    font-size: 1rem;
    background-color: transparent;
    border: 5px solid var(--reset-btn-border);
    color: var(--main-text);
    cursor: pointer;
}

#skipBtn {
    padding: 10px 15px;
    width: 82px;
    font-size: 1rem;
    background-color: transparent;
    border: 5px solid var(--skip-btn-border);
    color: var(--main-text);
    cursor: pointer;
}

.array-inputs {
    display: flex;
    flex-direction: column;
}

#sizeLabel {
    margin-bottom: 10px;
}

#speedLabel {
    margin-top: 10px;
    margin-bottom: 10px;
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 10rem;
    height: 0.5rem;
    background: #000;
    outline: none;
    border: 5px solid var(--slider-color);
    cursor: pointer;
}

/* targets chrome/safari */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 12px;
    height: 30px;
    background: #000;
    cursor: pointer;
    border: 3px solid var(--slider-color);
    border-radius: 1px;
  }
  
  /* targets firefox */
  .slider::-moz-range-thumb {
    width: 10px;
    height: 30px;
    background: #000;
    cursor: pointer;
    border: 3px solid var(--slider-color);
    border-radius: 1px;
  }

h1 {
    font-size: 2rem;
    text-align: center;
}

.algorithm-section {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    gap: 10px;
    max-width: 450px;
    box-sizing: border-box;
}


.algorithmBtn {
    appearance: none;
    background-color: var(--algorighmBtn-background);
    border: 3px solid var(--algorithmBtn-border);
    color: var(--algorithmBtn-text);
    border-radius: 15px;
    width: 100px;
    padding: 10px;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    transition: all 300ms cubic-bezier(.25, 1, .30, 1);
}

.algorithmBtn:hover {
    background-color: var(--algorithmBtn-hover);
    transform: translateY(-2px);
  }
  
.algorithmBtn:active {
    transform: translateY(0);
  }

.algorithmBtn:disabled {
    background-color: var(--disabled-background);
    border-color: var(--disabled-border);
    opacity: 0.7;
    pointer-events: none;
    transform: none;
    box-shadow: none;
}

.algorithmBtn.selected {
    background-color: var(--selected-background); 
    border-color: var(--selected-border);
}

.slider:disabled {
    border-color: var(--disabled-slider-color);
    opacity: 0.7;
    pointer-events: none;
}

/* targets chrome/safari */
.slider:disabled::-webkit-slider-thumb {
    border-color: var(--disabled-slider-color);
    pointer-events: none;
}

/* targets firefox */
.slider::-moz-range-thumb {
    border-color: var(--disabled-slider-color);
    pointer-events: none;
}

.controlBtn:disabled {
    opacity: 0.6;
    pointer-events: none
}

@media (max-width: 898px) {
    .header {
        flex-direction: column; 
        height: auto; 
    }

    .btn-container {
        align-items: center; 
    }

    .slider {
        max-width: 90%; 
    }

    .algorithm-section {
        max-width: 100%;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 1.5rem; /* Smaller font size on very small screens */
    }
}